h1{
    background-color: aquamarine;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    font-size: ;
    white-space: ;
    min-width: 100px;
    background-color: rgba(231, 92, 92, 0.46);
}

.container{
    background-color: red;
}